*{
  box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
  text-align: center;
}
.title,
.text{
  font-size: 32px;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  height: min-content;
  margin-bottom: 1rem;
  width: 70%;

  border-radius: 8px;

  background-color: hsl(160, 16%, 64%);
}
.game-options{
  flex-direction: row;
  justify-content: space-evenly;
}
.game-options > div {
  flex-direction: column;
  align-items: center;
  display: inherit;

  text-align: center;
}

.results{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 100%;
}
.results > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history{
  text-align: center;
}
.game-choice{
  font-size: 64px;
  height: 82px;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* colors */

.text,
.title{
  color: white;
}

body{
  background-color: hsl(166, 10%, 34%);
}
.section{
  background-color: hsl(169, 9%, 48%);
}

.btn{
  font-size: 48px;
  padding: 1rem;

  border: none;
  border-radius: 8px;

  background-color: hsl(170, 9%, 52%);
}

.btn:hover{
  cursor: pointer;
  background-color: hsl(170, 9%, 32%);
}


.btn-refresh-game{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 16px;

  border: none;
  border-radius: 8px;
  
  color: white;
  background-color: hsl(170, 9%, 52%);
}
.btn-refresh-game:hover {
  cursor: pointer;
  background-color: hsl(170, 9%, 32%);
}